
<h2>Contatos</h2>
    <div class="card ">
      <div class="card-body">
        <h5 class="card-title">Vanessa Sant'Anna</h5>
        <p class="card-text">
          Email: <a href="mailto:<%= Rails.application.credentials.admin_info[:email_vanessa] %>"><%= Rails.application.credentials.admin_info[:email_vanessa] %></a></p>
        <p class="card-text">
          Cel: <%= Rails.application.credentials.admin_info[:cel_vanessa] %></p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Jesusmar Lima</h5>
        Email: <a href="mailto:<%= Rails.application.credentials.admin_info[:email_jesus] %>"><%= Rails.application.credentials.admin_info[:email_jesus] %></a></p>

        <p class="card-text"> Cel: <%= Rails.application.credentials.admin_info[:cel_jesus] %></p>
      </div>
    </div>


