<div class="col">
  <div>
    <h1>Olá, <%= @invitee.nickname %>!</h1>
  </div>
  <img src="/invite.jpg" class="img-fluid" alt="Olivia convida para o primeiro aniversário.
    Domingo, 26 de Maio as 10 da manhã ate as 14h. Casa de festa Pitanga Pitangueira na
    Rua Paulino Fernandes, 36.">
  <div class="row">
    <div class="col">
      <%= render partial: "confirm_group", locals: {group: @invitee.group} %>

    </div>

  </div>
  <div class="row">
    <div class="col">
      <%= render partial: "gifts" %>
    </div>

  </div>
  <div class="row">
    <div class="col">
      <%= render partial: "location" %>
    </div>
    <div class="col">
      <%= render partial: "contacts" %>

    </div>

  </div>

</div>
